<section>
    <div class="contenedor_login">
        <div class="base">
            <h1>Acceso a Colaboradores</h1>

            <form [formGroup]="loginColaborador" class="formulario">

                <label>Correo Electronico</label>
                <input type="text" class="correo" formControlName="correo"/>
                <small *ngIf="validarCorreo">Escriba la contraseña</small>

                <label>Contraseña</label>
                <input type="text" class="pass" formControlName="pass"/>
                <small *ngIf="validarPass">Escriba el pssword</small>

                <button (click)="ingresarLogin()">Ingresar</button>
            </form>
        </div>
    </div>
</section>