.contenedor_login {

        .base {
            width: 1200px;
            margin: auto;
            display: table;

            p{
                font-family: "Open Sans", sans-serif;
                font-weight: 500;
                color: #ffffff;
                font-size: 17px;
                max-width: 1074px;
                width: 100%;
                margin: 39px auto 9px auto;
                line-height: 26px;
                padding: 19px 29px;
                background-color: #2E0063;
                border-radius: 11px;
            }

            .formulario{

                width: 100%;
                max-width: 100%;

                .base1 {
                    width: 46%;
                    float: left;
                    margin-left: 30px;

                    .base_tarifa{

                        width: 100%;
                        display: table;

                        .sub_base{

                            width: 48%;
                            float: left;
                            margin-left: 10px;
                        }
                    }   
                    
                }

                .base_boton{

                    display: block;
                    float: right;
                }
            }

        }

}



@media(max-width:650px){

    .contenedor_login .base {
        width: 100%;
        margin: auto;
        display: table;
        padding: 0px 20px;
    }

    .contenedor_login .base .formulario {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .contenedor_login .base .formulario .base1 {
        width: 100%;
        float: inherit;
        margin-left: 0px;
    }

    .contenedor_login .base .formulario .base1 .base_tarifa .sub_base {
        width: 100%;
        float: inherit;
        margin-left: 0;
    }

    .contenedor_login .base h1{

        margin-top: 40px;
    }

}

