.contenedor_inicio{

    width: 100%;
    display: table;
    text-align: center;
    
    img{

        width: 100%;
    }

    h1{
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #0090ff;
        font-size: 30px;
        text-align: center;
        margin: auto;
        padding-top: 44px;
        
    }

    .instruccion{

        width: 70%;
        max-width: 800px;
        margin: 40px auto 50px auto;
    }

    h2{
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #0090ff;
        font-size: 36px;
        text-align: center;
        margin: 0px auto 40px auto;
        padding-top: 44px;
    }

    .contenedor_servicios{

        width: 100%;
        max-width: 1200px;
        display: table;
        margin: 0px auto 40px auto;

        .tarjetas{

            width: 100%;
            max-width: 200px;
            float: left;
            height: 260px;
            position: relative;
            margin-left: 36px;
            margin-bottom: 30px;
            transition:transform .3s;
            cursor:pointer;

                &:hover{

                    transform:scale(0.9);
                }

            img{
                width: 100%;
                


            }
            p{
                font-family: "Open Sans", sans-serif;
                font-weight: 100;
                font-size: 18px;
                line-height: 20px;
                color: #0090ff;
            }

            .una_linea{
                padding-top: 9px;
            }
        }
    }
}


@media(max-width:650px){


    .contenedor_inicio h2{

        font-size: 28px;
        padding: 0px 40px;
        text-align: center;
        margin: 0px auto 40px auto;
        padding-top: 0;
    }


    .contenedor_inicio .contenedor_servicios .tarjetas{

        width: 100%;
        max-width: 240px;
        float: inherit;
        height: auto;
        margin: 0px auto 50px auto;
        position: relative;
        transition: transform 0.3s;
        cursor: pointer;

    }
    
}